.admin-list {
    width: 100%;
    display: flex;
    flex-direction: column;

    .list {
        margin: 10px auto;

        .block {
            display: flex;
            margin: 15px 0;

            .block-name {
                width: 300px;

                .link {
                    color: #3b393f;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .btn-remove {
                button {
                    border: none;
                    background-color: white;
                    color: red;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            @media screen and (max-width: 620px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                .block-name {
                    width: auto;
                }
            }
        }
    }

    form {
        margin: auto;
        border: none;

        .user {
            display: flex;
            margin: 5px 10px;
            justify-content: center;
            align-items: center;

            .email {
                margin-left: 15px;
                margin-right: 15px;

                p {
                    font-weight: 600;
                }
            }

            .role {
                margin-right: 15px;

                select {
                    width: 80px;
                    margin: auto;
                }
            }

            .save {
                margin: 5px auto;

                button {
                    cursor: pointer;
                    background-color: #ffffff;
                    color: #15b415;
                    border: none;
                }
            }

            @media screen and (max-width: 740px) {
                flex-direction: column;

                div {
                    margin: 4px;
                }
            }
        }
    }
}