.admin-list {
    width: 100%;
    max-width: 350px;

    .list {
        margin: 20px auto;

        .block {
            display: flex;
            margin: 15px 0;

            .block-name {
                width: 280px;

                .link {
                    color: #3b393f;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .btn-remove {
                margin-left: 30px;

                button {
                    border: none;
                    background-color: white;
                    color: red;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .user {
            margin: 10px auto;

            div {
                margin: 8px 0;

                .link {
                    color: #3b393f;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .save {
                button {
                    cursor: pointer;
                    border: none;
                    background-color: #15b415;
                    color: white;
                    padding: 3px 7px;
                    border-radius: 3px;

                    &:hover {
                        background-color: #088308;
                    }
                }
            }
        }
    }
}