form {
    width: 500px;
    margin: 25px auto;
    border: 1px solid #d4d4d4;
    border-radius: 5px;

    .title {
        border-bottom: 1px solid #d4d4d4;
        text-align: center;

        h2 {
            font-weight: round($number: 8);
            color: #3b393f;
            margin: 10px 0;
        }
    }

    .data {
        max-width: 350px;
        margin: 20px auto;
        text-align: center;

        p {
            display: flex;
            margin: 10px auto;

            input,
            textarea,
            select {
                display: flex;
                font-size: 16px;
                width: 100%;
                border: 1px solid #d4d4d4;
                border-radius: 3px;
                padding: 5px 10px;
                margin: auto;
            }

            input:focus,
            textarea:focus,
            select:focus {
                outline: 0;
                box-shadow: 0 0 5px rgba(99, 255, 148, 0.368);
            }
        }

        .link {
            color: #3b393f;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .checkboks {
        max-width: 350px;
        margin: 20px auto;

        h3 {
            font-weight: calc(1);
            margin: 10px 0;
        }

        input {
            margin-right: 10px;
        }
    }

    .blc-list {
        width: 100%;

        h3 {
            text-align: center;
        }

        .list {
            width: 300px;
            margin: auto;
            list-style-type: circle;

            li {
                margin: 10px auto;

                .link {
                    color: #3b393f;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .blc-btn {
        margin: 15px auto;

        .btn-submit {
            display: block;
            margin: auto;
            text-align: center;
            max-width: 150px;
            cursor: pointer;
            margin: auto;
            background-color: #15b415;
            color: white;
            font-size: 18px;
            padding: 4px 15px;
            border-radius: 3px;
            transition: all 0.3s ease-in;
            border: none;

            &:hover {
                background-color: #088308;
            }
        }
    }

    @media screen and (max-width: 550px) {
        width: 350px;

        .data {
            margin: 10px;
        }
    }

    @media screen and (max-width: 430px) {
        width: 250px;

        .data {
            margin: 10px;

            p {
                input {
                    font-size: 12px;
                }
            }

            .link {
                font-size: 10px;
            }
        }

        .title {
            h2 {
                font-size: 18px;
            }
        }

        .blc-btn {
            .btn-submit {
                font-size: 14px;
            }
        }
    }
}