menu {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #0038f5;

    .blc-logo {
        width: 100%;
        max-width: 1700px;
        height: 50px;
        display: grid;
        margin: auto;
        grid-template-columns: 30px 1fr 30px;

        .blc-btn-menu {
            width: 30px;
            height: 100%;
            cursor: pointer;
            float: left;
            margin-top: 10px;
            margin-left: 10px;
    
            .line {
                width: 90%;
                height: 2px;
                background-color: white;
                margin: 6px;
                border-radius: 10px;
            }
        }

        .blc-img-logo {
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            .link-logo {
                color: white;
                text-align: center;
                margin: 0 auto;
                text-decoration: none;

                .logo {
                    width: 150px;
                    height: 50px;
                }
            }
        }

        .blc-user {
            justify-content: center;
            align-items: center;
            
            img {
                margin-right: 20px;
            }
        }
    }
}